@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-gradient: red;
  --primary-text: green;
}

.dark {
  --primary-bg-gradient: blue;
  --primary-text: #fff;
}

@theme {
  --color-primary-bg-gradient: "var(--primary-bg-gradient)";
  --color-primary-text: "var(--primary-text)";
}
